# Using Historical Data to Predict Batting Success: Step 2 Filtering Dataset

Authored by: Donna J. Harris (994042890)

Email: harr2890@mylaurier.ca

For: CP640 Machine Learning (S22) with Professor Elham Harirpoush

## Step 2 of Data Preparation: Filtering Down the Dataset

The first attempt included the entire dataset, but this provided significant issues since...

## Environment Setup

Import and establish environment for initial work, including showing all dataframe column values.

In [1]:
import pandas as pd

pd.set_option('display.max_columns', None)

Load in the two stored data files: `./data/core_mlb_dataset.csv` and `./data/hof_dataset.csv` so we can continue with pre-processing the data.

In [2]:
core_mlb_dataset = "./data/core_mlb_dataset.csv"
df = pd.read_csv(core_mlb_dataset)
df

,ID,Player,Tm,Opp,PA,AB,R,H,2B,3B,HR,RBI,BB,SO,HBP,SH,SF,Result,Season
0,delahed01,Ed Delahanty,PHI,BRO,5,4,1,2,0,0,0,0,1,0,0,0,0,L,1901
1,dolanjo02,Joe Dolan,PHI,BRO,5,5,0,1,0,0,0,1,0,0,0,0,0,L,1901
2,childcu01,Cupid Childs,CHC,STL,5,5,1,1,0,0,0,0,0,0,0,0,0,W,1901
3,crolifr01,Fred Crolius,BSN,NYG,4,4,0,0,0,0,0,1,0,0,0,0,0,W,1901
4,delahed01,Ed Delahanty,PHI,BRO,4,4,0,0,0,0,0,0,0,2,0,0,0,L,1901
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3715517,woodfja01,Jake Woodford,STL,CHC,2,1,0,0,0,0,0,0,0,0,0,1,0,L,2021
3715518,yastrmi01,Mike Yastrzemski,SFG,SDP,4,3,1,1,1,0,0,2,1,1,0,0,0,W,2021
3715519,zimmebr01,Bradley Zimmer,CLE,TEX,4,4,1,2,0,0,0,1,0,0,0,0,0,W,2021
3715520,zimmery01,Ryan Zimmerman,WSN,BOS,4,3,0,0,0,0,0,1,1,2,0,0,0,L,2021
3715521,zuninmi01,Mike Zunino,TBR,NYY,4,4,0,0,0,0,0,0,0,1,0,0,0,L,2021

In [3]:
hof_dataset = "./data/hof_dataset.csv"
hof = pd.read_csv(hof_dataset)
hof

            ID  Inductee
0    hodgegi01         1
1     kaatji01         1
2    minosmi01         1
3    olivato01         1
4    ortizda01         1
..         ...       ...
263   cobbty01         1
264  johnswa01         1
265  mathech01         1
266   ruthba01         1
267  wagneho01         1

[268 rows x 2 columns]

## Preprocessing - Continued

### Filtering Player Data

With the realization that filtering the player data should help for accuracy, the following approach will be taken:
- split data into two sets
 - before 2012 (the data we'll be training on)
 - 2012-2021 (the last 10 years, reserved for later)
- only players with 10 or more seasons in the major leagues

Splitting the data into two sets, first the 1901-2011 data.

In [4]:
data = df[df['Season'] < 2012].copy()
data

,ID,Player,Tm,Opp,PA,AB,R,H,2B,3B,HR,RBI,BB,SO,HBP,SH,SF,Result,Season
0,delahed01,Ed Delahanty,PHI,BRO,5,4,1,2,0,0,0,0,1,0,0,0,0,L,1901
1,dolanjo02,Joe Dolan,PHI,BRO,5,5,0,1,0,0,0,1,0,0,0,0,0,L,1901
2,childcu01,Cupid Childs,CHC,STL,5,5,1,1,0,0,0,0,0,0,0,0,0,W,1901
3,crolifr01,Fred Crolius,BSN,NYG,4,4,0,0,0,0,0,1,0,0,0,0,0,W,1901
4,delahed01,Ed Delahanty,PHI,BRO,4,4,0,0,0,0,0,0,0,2,0,0,0,L,1901
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3235593,youngch04,Chris Young,ARI,LAD,2,2,0,0,0,0,0,0,0,2,0,0,0,L,2011
3235594,youngde03,Delmon Young,DET,CLE,4,4,1,1,0,0,0,0,0,1,0,0,0,W,2011
3235595,younger03,Eric Young Jr.,COL,SFG,5,5,1,2,0,1,0,0,0,2,0,0,0,W,2011
3235596,youngmi02,Michael Young,TEX,LAA,4,4,1,1,0,0,0,0,0,0,0,0,0,W,2011
3235597,zobribe01,Ben Zobrist,TBR,NYY,6,5,1,1,1,0,0,0,1,1,0,0,0,W,2011

Then, the 2012-2021 data. (Most recent 10 years.)

In [ ]:
later = df[df['Season'] > 2011].copy()
later

Next, to identify players with 10 seasons (or more) played within this time period.

In [28]:
grp = data.groupby(['ID', 'Season'])
grp

In [38]:
test2 = grp[['ID', 'PA', 'HR']].sum().copy()
test2

                   PA  HR
ID        Season
aardsda01 2006      3   0
          2008      1   0
aaronha01 1954    509  13
          1955    665  27
          1956    660  26
...               ...  ..
zuverge01 1955     29   0
          1956     22   0
          1957     17   0
          1958     10   0
          1959      2   0

[60672 rows x 2 columns]

In [48]:
test2.reset_index()

              ID  Season   PA  HR
0      aardsda01    2006    3   0
1      aardsda01    2008    1   0
2      aaronha01    1954  509  13
3      aaronha01    1955  665  27
4      aaronha01    1956  660  26
...          ...     ...  ...  ..
60667  zuverge01    1955   29   0
60668  zuverge01    1956   22   0
60669  zuverge01    1957   17   0
60670  zuverge01    1958   10   0
60671  zuverge01    1959    2   0

[60672 rows x 4 columns]

In [53]:
test2['counter'] = 1
t2grp = test2.groupby('ID').sum()
t2grp

              PA   HR  counter
ID
aardsda01      4    0        2
aaronha01  13666  740       23
aaronto01   1045   13        7
aasedo01       5    0        1
abadan01      25    0        3
...          ...  ...      ...
zuletju01    191    9        2
zupcibo01    886    7        4
zupofr01       8    0        3
zuvelpa01    545    2        8
zuverge01    156    0        6

[12462 rows x 3 columns]

In [45]:
type(mi)

pandas.core.indexes.multi.MultiIndex

In [14]:
group = grp['ID', 'Player', 'PA', 'HR']
group

/var/folders/4n/wx2nmg094wq30z9qql9lcwkr0000gn/T/ipykernel_80274/817935943.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  group = grp['ID', 'Player', 'PA', 'HR']

In [18]:
testy = data.groupby(['ID','Player']).Season.agg(['count', 'min', 'max'])
testy

                           count   min   max
ID        Player
aardsda01 David Aardsma        4  2006  2008
aaronha01 Henry Aaron       3234  1954  1976
aaronto01 Tommie Aaron       373  1962  1971
aasedo01  Don Aase             5  1989  1989
abadan01  Andy Abad           15  2001  2006
...                          ...   ...   ...
zuletju01 Julio Zuleta        77  2000  2001
zupcibo01 Bob Zupcic         260  1991  1994
zupofr01  Frank Zupo           6  1957  1961
zuvelpa01 Paul Zuvella       177  1982  1989
zuverge01 George Zuverink     87  1954  1959

[12462 rows x 3 columns]

In [20]:
testy['years'] = testy['max'] - testy['min'] + 1  # flawed... assumes consecutive seasons
testy

                           count   min   max  years
ID        Player
aardsda01 David Aardsma        4  2006  2008      3
aaronha01 Henry Aaron       3234  1954  1976     23
aaronto01 Tommie Aaron       373  1962  1971     10
aasedo01  Don Aase             5  1989  1989      1
abadan01  Andy Abad           15  2001  2006      6
...                          ...   ...   ...    ...
zuletju01 Julio Zuleta        77  2000  2001      2
zupcibo01 Bob Zupcic         260  1991  1994      4
zupofr01  Frank Zupo           6  1957  1961      5
zuvelpa01 Paul Zuvella       177  1982  1989      8
zuverge01 George Zuverink     87  1954  1959      6

[12462 rows x 4 columns]

In [21]:
testy.columns = ['Number of Games', 'First Season', 'Last Season', 'Number of Seasons']
testy

,,Number of Games,First Season,Last Season,Number of Seasons
ID,Player,,,,
aardsda01,David Aardsma,4,2006,2008,3
aaronha01,Henry Aaron,3234,1954,1976,23
aaronto01,Tommie Aaron,373,1962,1971,10
aasedo01,Don Aase,5,1989,1989,1
abadan01,Andy Abad,15,2001,2006,6
...,...,...,...,...,...
zuletju01,Julio Zuleta,77,2000,2001,2
zupcibo01,Bob Zupcic,260,1991,1994,4
zupofr01,Frank Zupo,6,1957,1961,5
zuvelpa01,Paul Zuvella,177,1982,1989,8
zuverge01,George Zuverink,87,1954,1959,6

In [110]:
columns = ['ID', 'Player','PA','AB','R','H','2B','3B','HR','RBI','BB','SO','HBP','SH', 'SF']
summables = ['PA','AB','R','H','2B','3B','HR','RBI','BB','SO','HBP','SH', 'SF']

career = df.copy()
career = career[columns].copy()
career

,ID,Player,PA,AB,R,H,2B,3B,HR,RBI,BB,SO,HBP,SH,SF
0,delahed01,Ed Delahanty,5,4,1,2,0,0,0,0,1,0,0,0,0
1,dolanjo02,Joe Dolan,5,5,0,1,0,0,0,1,0,0,0,0,0
2,childcu01,Cupid Childs,5,5,1,1,0,0,0,0,0,0,0,0,0
3,crolifr01,Fred Crolius,4,4,0,0,0,0,0,1,0,0,0,0,0
4,delahed01,Ed Delahanty,4,4,0,0,0,0,0,0,0,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3715517,woodfja01,Jake Woodford,2,1,0,0,0,0,0,0,0,0,0,1,0
3715518,yastrmi01,Mike Yastrzemski,4,3,1,1,1,0,0,2,1,1,0,0,0
3715519,zimmebr01,Bradley Zimmer,4,4,1,2,0,0,0,1,0,0,0,0,0
3715520,zimmery01,Ryan Zimmerman,4,3,0,0,0,0,0,1,1,2,0,0,0
3715521,zuninmi01,Mike Zunino,4,4,0,0,0,0,0,0,0,1,0,0,0

In [111]:
career = career.groupby(['ID', 'Player'])
career = career[summables].sum().copy()
career

,,PA,AB,R,H,2B,3B,HR,RBI,BB,SO,HBP,SH,SF
ID,Player,,,,,,,,,,,,,
aardsda01,David Aardsma,5,4,0,0,0,0,0,0,0,2,0,1,0
aaronha01,Henry Aaron,13666,12121,2128,3703,614,96,740,2243,1372,1357,32,21,120
aaronto01,Tommie Aaron,1045,944,99,216,42,6,13,94,85,145,0,9,6
aasedo01,Don Aase,5,5,0,0,0,0,0,0,0,3,0,0,0
abadan01,Andy Abad,25,21,1,2,0,0,0,0,4,5,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zuninmi01,Mike Zunino,2835,2559,308,518,111,5,141,345,198,981,58,8,12
zupcibo01,Bob Zupcic,886,795,93,199,47,4,7,80,57,137,6,20,8
zupofr01,Frank Zupo,8,7,1,2,1,0,0,0,1,2,0,0,0
zuvelpa01,Paul Zuvella,545,491,40,109,17,2,2,20,34,50,2,18,0
zuverge01,George Zuverink,156,133,4,19,2,1,0,7,7,36,0,16,0

**Note:** Now we've created our career statistics records for every player, we want to remove any records with 0 At Bats. We know that these players will not be in the Hall of Fame and it will avoid problems with calculating other statistics later.

In [112]:
career = career[career['AB'] > 0].copy()
career

,,PA,AB,R,H,2B,3B,HR,RBI,BB,SO,HBP,SH,SF
ID,Player,,,,,,,,,,,,,
aardsda01,David Aardsma,5,4,0,0,0,0,0,0,0,2,0,1,0
aaronha01,Henry Aaron,13666,12121,2128,3703,614,96,740,2243,1372,1357,32,21,120
aaronto01,Tommie Aaron,1045,944,99,216,42,6,13,94,85,145,0,9,6
aasedo01,Don Aase,5,5,0,0,0,0,0,0,0,3,0,0,0
abadan01,Andy Abad,25,21,1,2,0,0,0,0,4,5,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zuninmi01,Mike Zunino,2835,2559,308,518,111,5,141,345,198,981,58,8,12
zupcibo01,Bob Zupcic,886,795,93,199,47,4,7,80,57,137,6,20,8
zupofr01,Frank Zupo,8,7,1,2,1,0,0,0,1,2,0,0,0
zuvelpa01,Paul Zuvella,545,491,40,109,17,2,2,20,34,50,2,18,0
zuverge01,George Zuverink,156,133,4,19,2,1,0,7,7,36,0,16,0

### Different Statistical Formulae

singles (int) = H - (2B + 3B + HR)

total_bases (int) = 1 * singles + 2 * 2B + 3 * 3B + 4 * HR


**AVG (float) = H / AB**

SLG (float) = total_bases / AB

OBP (float) = (H + BB + HBP)/(AB + BB + HBP + SF)

**OPS (float) = SLG + OBP**
https://en.wikipedia.org/wiki/On-base_plus_slugging  *** Reference is great for testing against

RC (float) = total_bases * ( (H + BB) / (AB + BB) )

ISO (float) = (1 * 2B + 2 * 3B + 3 * HR) / AB

PA/SO (float) = PA/SO

#### Simplification of SLG formula??

SLG = ( 1 * (H - (2B + 3B + HR)) + 2 * 2B + 3 * 3B + 4 * HR ) / AB
( H - 2B - 3B - HR + 2 * 2B + 3 * 3B + 4 * HR ) / AB
( H - 2B + 2 * 2B - 3B + 3 * 3B - HR + 4 * HR ) / AB
( H + 2B + 2 * 3B + 3 * HR ) / AB

In [113]:
career['AVG'] = career['H'] / (career['AB']*1.0)

career['SLG'] = (career['H'] + career['2B'] + 2*career['3B'] + 3*career['HR']) / (career['AB']*1.0)

career['OBP'] = (career['H'] + career['BB'] + career['HBP']) / ((career['AB'] + career['BB'] + career['HBP'] + career['SF'])*1.0) 

career['OPS'] = career['SLG'] + career['OBP']

career

,,PA,AB,R,H,2B,3B,HR,RBI,BB,SO,HBP,SH,SF,AVG,SLG,OBP,OPS
ID,Player,,,,,,,,,,,,,,,,,
aardsda01,David Aardsma,5,4,0,0,0,0,0,0,0,2,0,1,0,0.000000,0.000000,0.000000,0.000000
aaronha01,Henry Aaron,13666,12121,2128,3703,614,96,740,2243,1372,1357,32,21,120,0.305503,0.555152,0.374276,0.929429
aaronto01,Tommie Aaron,1045,944,99,216,42,6,13,94,85,145,0,9,6,0.228814,0.327331,0.290821,0.618152
aasedo01,Don Aase,5,5,0,0,0,0,0,0,0,3,0,0,0,0.000000,0.000000,0.000000,0.000000
abadan01,Andy Abad,25,21,1,2,0,0,0,0,4,5,0,0,0,0.095238,0.095238,0.240000,0.335238
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zuninmi01,Mike Zunino,2835,2559,308,518,111,5,141,345,198,981,58,8,12,0.202423,0.415006,0.273788,0.688794
zupcibo01,Bob Zupcic,886,795,93,199,47,4,7,80,57,137,6,20,8,0.250314,0.345912,0.302540,0.648452
zupofr01,Frank Zupo,8,7,1,2,1,0,0,0,1,2,0,0,0,0.285714,0.428571,0.375000,0.803571
zuvelpa01,Paul Zuvella,545,491,40,109,17,2,2,20,34,50,2,18,0,0.221996,0.276986,0.275142,0.552128
zuverge01,George Zuverink,156,133,4,19,2,1,0,7,7,36,0,16,0,0.142857,0.172932,0.185714,0.358647

### Merging with Hall of Fame Data

In [ ]:
career = pd.merge(hof, career, on="ID", how="right")
career

In [ ]:
hof_is_nan = career.loc[pd.isna(career['Inductee'])]
series_of_hof = hof_is_nan.index
career.loc[series_of_hof, 'Inductee'] = 0
career['Inductee'] = career['Inductee'].astype(int)
career

In [ ]:
name_cols = ['ID', 'Player']
names = df.copy()
names = names[name_cols].copy()
names = names.drop_duplicates(subset=['ID', 'Player'], keep='first')
names

In [ ]:
career = pd.merge(names, career, on="ID", how="right")
career

In [ ]:
career = career[['ID', 'Player', 'PA', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'BB', 'SO', 'AVG', 'SLG', 'OBP', 'OPS', 'Inductee']]
career

In [ ]:
career[career['Inductee'] == 1 ]

In [ ]:
career.isnull().values.any()

In [ ]:
hank_row = career[career['ID'] == 'aaronha01']

cols = ['PA', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'BB', 'SO', 'AVG', 'SLG', 'OBP', 'OPS']
XX = hank_row[cols]

XX

### Converting to X and y

In [ ]:
y = career[career.columns[-1]]
y = y.values
y

In [ ]:
# remove the HOF inductee column, and the string-based fields
num = career.shape[1]
X = career[career.columns[2:num-1]]
X = X.values
X

# X = career[career.columns[2:num-5]]
# X = X.values
# X

### Visualization(s)

??? Before and after bar graphs?

## Model Selection

### Logistic Regression

In [ ]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

# Split data into training and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 20)

# Import logistic regression 
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import log_loss

# Build a logstic regression object
LogReg = LogisticRegression(solver = 'newton-cg')

# Train(fit) model
LogReg.fit(X_train, y_train)

# Predict the data
y_train_predict = LogReg.predict(X_train)
y_test_predict = LogReg.predict(X_test)

# Count percentage of correct predictions
print("The performance of the model")
print("--------------------------------------")
print('Log loss of the model for training set: %.3f' % log_loss(y_train,y_train_predict))
print('Log loss of the model for test set: %.3f' % log_loss(y_test,y_test_predict))

In [ ]:
# Count percentage of correct predictions
print("The performance of the model:")
print("------------------------------")

# Confusion Matrix
from sklearn.metrics import confusion_matrix
print('Confusion matrix for training set')
print(confusion_matrix(y_train,y_train_predict))

print('Confusion matrix for test set')
print(confusion_matrix(y_test, y_test_predict),'\n')

# Accuracy Score
from sklearn.metrics import accuracy_score
print('Accuracy of the model for training set: %.3f' % accuracy_score(y_train,y_train_predict))
print('Accuracy of the model for test set: %.3f\n' % accuracy_score(y_test,y_test_predict))

# Precision score
from sklearn.metrics import precision_score
print('Precision of the model for training set: %.3f' % precision_score(y_train,y_train_predict))
print('Precision of the model for test set: %.3f\n' % precision_score(y_test,y_test_predict))

# Recall score
from sklearn.metrics import recall_score
print('Recall of the model for training set: %.3f' % recall_score(y_train,y_train_predict))
print('Recall of the model for test set: %.3f\n' % recall_score(y_test,y_test_predict))

# F1 Score
from sklearn.metrics import f1_score
print('F1-measure of the model for training set: %.3f' % f1_score(y_train,y_train_predict))
print('F1-measure of the model for test set: %.3f\n' % f1_score(y_test,y_test_predict))

# AUC score
from sklearn.metrics import roc_auc_score
print('AUC score of the model for training set: %.3f' % roc_auc_score(y_train,y_train_predict))
print('AUC score of the model for test set: %.3f\n' % roc_auc_score(y_test,y_test_predict))
      
# Log loss
print('Log loss of the model for training set: %.3f' % log_loss(y_train,y_train_predict))
print('Log loss of the model for test set: %.3f\n' % log_loss(y_test,y_test_predict))

In [114]:
 import matplotlib.pyplot as plt

###