# Using Historical Data to Predict Batting Success: Step 1 of 5

Authored by: Donna J. Harris (994042890)

Email: harr2890@mylaurier.ca

For: CP640 Machine Learning (S22) with Professor Elham Harirpoush

## Project Introductory Comments

Based on the project proposal of the same name, the _Using Historical Data to Predict Batting Success_ project demonstrates the process and exploration of Major League Baseball batting data from 1901 to 2021 to the end of discovering how or if historical data can be used to predict batting success.

The Kaggle dataset being used as the primary data source can be found in the `data` folder of the project folder structure: `./data/mlbbatting1901-2021.csv`. The data in this dataset was originally sourced from data on Baseball-Reference.com, which is considered a leading authority on Major League Baseball statistics.

Each data record in the original Kaggle dataset represents an individual batter's performance in a single game. This is why there are so many records. In a single game, there will be at least 18 batters with plate appearances across both teams, and often more with player substitutions, especially across extra innings. As a result, there is a lot of data processing and data validation required.

### Notebook Series

Just a word about the presentation of this project code.

The code is organized into a series of locally executed Jupyter notebooks, organized by step and needing to be executed in sequence to follow the flow of the entire project.

This direction was taken as it became easier to manage individual notebooks focussed on specific aspects of the project than to navigate one extremely large notebook.

This is `harr2890_project_step1_data_prep`, the first of five notebooks.

### Two Approaches to Predicting Batting Success

In the project proposal, exploring different approaches to predicting batting success was discussed as the goal for the project. While the thoughts at the time of writing the proposal didn't totally follow through into this project (more on that in the Project Report) the idea experimenting with different ideas did.

As a result, there are two approaches:
1. the Hall of Fame Approach (Steps 2 and 3)
- `harr2890_project_step2_hof_data_prep`
- `harr2890_project_step3_hof_modelling`
2. the OPS Approach (Steps 4 and 5)
- `harr2890_project_step4_ops_data_prep`
- `harr2890_project_step5_ops_modelling`

Both approaches require Step 1 (`harr2890_project_step1_data_prep`) to be completed first before running the notebooks associated with their steps.

## _**Step 1 - General Data Preparation**_

This notebook encompasses the intial data preparation of the original source data and a supplemental data source. It is an essential step for all following notebooks and aspects of the project.

## Environment Setup

Import and establish environment for our work, including showing all dataframe column values.

In [ ]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

## Preprocessing

### Original Data

First, we need to acquire the data from the Kaggle dataset and place into a dataframe.

**Note:** this original data source remains zipped in the `kaggle_dataset` folder and should not be removed. The extracted data (and other data created by running these project notebooks) is saved to the `data` folder for use by following notebooks. The `data` folder and/or its contents can be erased, but doing so may require re-running one or more notebooks to regenerate the data.

In [ ]:
import os

if not os.path.exists('./data'):
    os.makedirs('./data')

import zipfile

mlb_zip = './kaggle_dataset/mlb-batting-stats-by-game-1901-2021.zip'
original_data_source = './data/mlbbatting1901-2021.csv'

try:
    with zipfile.ZipFile(mlb_zip, mode='r') as archive:
        archive.extractall('data/')
        archive.close()
except:
    print("Error: Reading/unzipping the file.")
    
df = pd.read_csv(original_data_source)

Confirm the original data has been loaded into the data frame. (It should start with the earliest records from 1901 and end with the latest records from 2021.)

In [ ]:
df

We have our confirmation that there are 31 columns and 4,285,629 data records.

### Extract Data

There is some data that might be of use to us that is trapped in existing columns. First, we want to extract the result of the game and the score of the game from the `'Rslt'` column. Then, we want to extract the year the game was played (denoting the season) from the `'Date'` column.

In [ ]:
df[['Result','Score']] = df['Rslt'].str.split(' ', expand=True)
df['Season'] = df['Date'].str[:4]
df

### Column Removal

There are a number of columns in the original dataset that we know before going any further that we have no use for.

We no longer need `'Rslt'`, as we just split its interesting information into separate columns. Likewise with `'Date'`, we have what we need in the new `'Season'` column, so we can remove the `'Date'` column.

In [ ]:
del df['Rslt']
del df['Date']

Daily fantasy sports points (used for fantasy leagues and betting) have no purpose within this project, so we can safely remove `'DFS(DK)'` and `'DFS(FD)'` from the data.

In [ ]:
del df['DFS(DK)']
del df['DFS(FD)']

Similarly, to reduce complexity, we are not considering any statistics relating to fielding or base running/stealing. As such, we can remove `'SB'` and `'CS'`, which are the number of stolen bases and time caught stealing, respectively, as well as the `'Pos Summary'` (position summary) data.

In [ ]:
del df['SB']
del df['CS']
del df['Pos Summary']

To further reduce complexity, we will remove the `'IBB'` (intentional walks) column as this is a subset of values tracked under the walks column (`'BB'`).  (Reference: https://en.wikipedia.org/wiki/Base_on_balls#Intentional_base_on_balls)

In [ ]:
del df['IBB']

We can remove the `'GDP'` column, which represents the number of times a player hits into a double play (two outs). While this statistic has some bearing to the success of a batter, for this project we will exclude this nuance and focus more on the aspects of run production and getting on base through other statistical means.

In [ ]:
del df['GDP']

Similarly to `'GDP'`, we will disregard the `'ROE'` column, which represents the number of times a player reaches base due to a fielding error by the opposing team. Like `'GDP'`, this statistic has some bearing to the success of a batter but it leans more toward their running abilities and street smarts of the player, as well as a bit of luck. Again, for this project, these nuances will be excluded for simplicity.

In [ ]:
del df['ROE']

Before continuing on to value checking, let's look and see where the data is at after these processing operations.

In [ ]:
df

We added three new columns (`'Result'`, `'Score'`, and `'Season'`) -- which we may or may not need later -- and also removed ten existing columns. So, this looks correct: 31 original features + 3 new features - 11 features = 23 feature columns.

We still have 4,285,629 data records, as we have not removed any records yet.

### Value Checking and Data Validation

**ID - Player ID**

Should be unique to each player. This will indicate how many players we currently have, based on player ID.

In [ ]:
player_ids = pd.unique(df['ID'])
print(player_ids)

print("\nNumber of unique player IDs: ", len(player_ids))

**Player - Player Name**

Should be roughly the same number of player IDs. Discrepancies are possible, errors in spelling, etc. but this is not highly significant for our statistics since we will key everything on the more reliable Player ID. We will hang onto this field to help humanly identify players by name.

In [ ]:
print(pd.unique(df['Player']))

print("\nNumber of unique player names: ", len(pd.unique(df['Player'])))

**Note:** We found there were 15,985 unique IDs and 15,595 unique player names, which is a difference of 390 in favour of the IDs. This could easily be explained by different players over the years with the same name. This is a nuance that will be disregarded for this project. As previously stated, we will use the ID for all but human identification purposes.

**Season - Year the game was played in**
(Extracted from `'Date'`)

The values should all be visibly in YYYY format between the years of 1901 and 2021, inclusive.

Ideally, these values will be Integers -- but they have started as strings.

In [ ]:
print(pd.unique(df['Season']))

We can see visibly that these values are all YYYY integers, so let's convert them to actual integers in the dataframe.

In [ ]:
df['Season'] = df['Season'].astype(int)

# test
print(pd.unique(df['Season']))

**Tm - Player's Team** and **Opp - Opponent**

The team values (both the player's team and the opposing team) should all be visibly in ZZZ format, belonging to a recognizable team between the 1901-2021 seasons. These are fields that will likely get dropped later on, but I'm keeping them until I know for sure I don't want them.

In [ ]:
print("Player's Team (Tm):\n", pd.unique(df['Tm']))
print("\nOpposing Team (Opp):\n", pd.unique(df['Opp']))

**PA - Plate Appearances**

Appearances should be an integer value, between the range of 1 and some upper value. (A 0 would indicate the player didn't bat in the game which would mean there should not be a record.)

The upper value will vary, although (speaking as a baseball fan) five plate appearances is pretty standard in a regular, nine-inning, low scoring game. But as soon as you get into higher scores and/or extra inning games, players can be up to bat many times.

In [ ]:
print(pd.unique(df['PA']))

**Note:** 12 was the upper value. I'm curious of what era these are from, so let's take a look:

In [ ]:
df[df['PA'] == 12]

**AB - At Bats**

Similarly to Plate Appearances, At Bats should be an integer value. It should be between the range of 0 and some upper value. (Here, a 0 would indicate the player had one plate appearance that did not statistically count as an At Bat, such as a walk.)

The upper range should follow, and not exceed the upper value of Plate Appearances, which was 12. Note that 12 is possible, but does not have to be a value in this collection of data.

In [ ]:
print(pd.unique(df['AB']))

**Note:** 11 was the upper value, which is less then 12. (The max number of plate appearances.)

We should validate that there are no records where there are more At Bats than Plate Appearances.

In [ ]:
print("-----------------------------------------")
print("All records with PA < AB")
print("-----------------------------------------")
print(df[df['PA'] < df['AB']])

**Note:** The validation checks pass, as we have found no records where PA < AB. No extra investigation or validation is required here.

**R - Runs**

Runs should also be an integer value, in the range of 0 and some upper value. The upper value can be, at most, one larger than the number of plate appearances. In general, that's 12+1 for this dataset, but that's a highly unlikely value to see as number of runs. (We'll address individual records in the next step.)

In [ ]:
print(pd.unique(df['R']))

**Note:** We want to do some validation within each individual data record to look for instances where the number of plate appearances is less than the number of runs (e.g., when a player pinch runs for a teammate and then scores a run they have 0 plate appearances and 1 run). And within that subset of records, look for instances where there is more than a difference of one between the `'PA'` and `'R'` values. (If we find any instances with a difference larger than one, we may have a data issue.)

In [ ]:
records_pa_lt_r = df[df['PA'] < df['R']]
print("-----------------------------------------")
print("All records with PA < R")
print("-----------------------------------------")
records_pa_lt_r

Here, we see records where PA < R, so now we'll do a check to see if there are any instances within this subset of records where there is more than 1 run difference from the number of plate appearances. If we don't have any instances, then our investigation here ends.

In [ ]:
print("\n\n-----------------------------------------")
print("All records with PA < R where PA != R-1")
print("-----------------------------------------")
records_pa_lt_r[ records_pa_lt_r['PA'] != ((records_pa_lt_r['R']-1)) ]

**Note:** The validation checks pass, as we have found no records where PA < R and PA != R-1. No extra investigation or validation is required here.

**H - Hits**

Hits should also be an integer value, in the range of 0 and some upper value. The upper value can be, at most, the number of plate appearances. In general, that's 12 for this dataset, but that's a highly unlikely value to see as number of hits. (We'll address individual records in the next step.)

In [ ]:
pd.unique(df['H'])

**Note:** We should also confirm that there are never more hits than plate appearances within individual records.

In [ ]:
records_pa_lt_h = df[df['PA'] < df['H']]
print("-----------------------------------------")
print("All records with PA < H")
print("-----------------------------------------")
records_pa_lt_h

**Note:** The validation checks pass, as we have found no records where PA < H. No extra investigation or validation is required here.

**2B - Doubles**
**3B - Triples**
**HR - Home Run**

All of these extra base hits must be integer values, within the range of 0 up to the number of Plate Appearances.

In [ ]:
print("2B: ", pd.unique(df['2B']))
print("3B: ", pd.unique(df['3B']))
print("HR: ", pd.unique(df['HR']))

**Note:** These are all reasonable values at a glance.

We should also confirm that these values are never greater than the number of Plate Appearances, At Bats, or Hits within individual records. (Note that Hits (`'H'`) represents all kinds of hits, not just single-base hits.)

We will do this for the next several code blocks, then regroup with next steps.

In [ ]:
records_pa_lt_2b = df[df['PA'] < df['2B']]
print("-----------------------------------------")
print("All records with PA < 2B")
print("-----------------------------------------")
records_pa_lt_2b

In [ ]:
records_pa_lt_3b = df[df['PA'] < df['3B']]
print("\n-----------------------------------------")
print("All records with PA < 3B")
print("-----------------------------------------")
records_pa_lt_3b

In [ ]:
records_pa_lt_hr = df[df['PA'] < df['HR']]
print("\n-----------------------------------------")
print("All records with PA < HR")
print("-----------------------------------------")
records_pa_lt_hr

In [ ]:
records_ab_lt_2b = df[df['AB'] < df['2B']]
print("\n-----------------------------------------")
print("All records with AB < 2B")
print("-----------------------------------------")
records_ab_lt_2b

In [ ]:
records_ab_lt_3b = df[df['AB'] < df['3B']]
print("\n-----------------------------------------")
print("All records with AB < 3B")
print("-----------------------------------------")
records_ab_lt_3b

In [ ]:
records_ab_lt_hr = df[df['AB'] < df['HR']]
print("\n-----------------------------------------")
print("All records with AB < HR")
print("-----------------------------------------")
records_ab_lt_hr

In [ ]:
records_h_lt_2b = df[df['H'] < df['2B']]
print("\n-----------------------------------------")
print("All records with H < 2B")
print("-----------------------------------------")
records_h_lt_2b

In [ ]:
records_h_lt_3b = df[df['H'] < df['3B']]
print("\n-----------------------------------------")
print("All records with H < 3B")
print("-----------------------------------------")
records_h_lt_3b

In [ ]:
records_h_lt_hr = df[df['H'] < df['HR']]
print("\n-----------------------------------------")
print("All records with H < HR")
print("-----------------------------------------")
records_h_lt_hr

**Note:** These validation checks caught a couple of problematic records. Looking at the entirety of these records, it looks like a simple data error, where the number of Hits needs to be updated to reflect the number of extra base hits. Instead of removing all records for these players, we will make these small data adjustments.

There are two players and two specific games that seem to be impacted by this issue, Ed Robinson and Joe Tipton. Let's clean these up and then test again.

**First for Ed Robinson**, directly using the record index in the dataframe:

In [ ]:
ed_robinson = 1275367

df.loc[[ed_robinson]]

For **Ed Robinson's record** (1275367), we will use the doubles (`'2B'`) statistic value as the value for Hits, Plate Appearances, and At Bats. These are reasonable guesses, based on the record.

In [ ]:
df.at[ed_robinson, 'H'] = df.at[ed_robinson, '2B']
df.at[ed_robinson, 'AB'] = df.at[ed_robinson, '2B']
df.at[ed_robinson, 'PA'] = df.at[ed_robinson, '2B']

df.loc[[ed_robinson]]

**Next for Joe Tipton**, again, directly using the record index in the dataframe:

In [ ]:
joe_tipton = 1272928

df.loc[[joe_tipton]]

For **Joe Tipton's record** (1272928), we will use the triples (`'3B'`) statistic value as the value for Hits but it is possible that the statistics for Plate Appearances and At Bats is correct. Because it is not obviously wrong, we won't change these. These are reasonable guesses, based on the record.

In [ ]:
df.at[joe_tipton, 'H'] = df.at[joe_tipton, '3B']

df.loc[[joe_tipton]]

**Re-testing the original checks**

Re-running the tests that found these data issues should now pass and not introduce any new issues, including the checks the passed the first time to ensure we didn't introduce new issues for these records.

In [ ]:
records_pa_lt_2b = df[df['PA'] < df['2B']]
print("-----------------------------------------")
print("All records with PA < 2B")
print("-----------------------------------------")
records_pa_lt_2b

In [ ]:
records_pa_lt_3b = df[df['PA'] < df['3B']]
print("\n-----------------------------------------")
print("All records with PA < 3B")
print("-----------------------------------------")
records_pa_lt_3b

In [ ]:
records_pa_lt_hr = df[df['PA'] < df['HR']]
print("\n-----------------------------------------")
print("All records with PA < HR")
print("-----------------------------------------")
records_pa_lt_hr

In [ ]:
records_ab_lt_2b = df[df['AB'] < df['2B']]
print("\n-----------------------------------------")
print("All records with AB < 2B")
print("-----------------------------------------")
records_ab_lt_2b

In [ ]:
records_ab_lt_3b = df[df['AB'] < df['3B']]
print("\n-----------------------------------------")
print("All records with AB < 3B")
print("-----------------------------------------")
records_ab_lt_3b

In [ ]:
records_ab_lt_hr = df[df['AB'] < df['HR']]
print("\n-----------------------------------------")
print("All records with AB < HR")
print("-----------------------------------------")
records_ab_lt_hr

In [ ]:
records_h_lt_2b = df[df['H'] < df['2B']]
print("\n-----------------------------------------")
print("All records with H < 2B")
print("-----------------------------------------")
records_h_lt_2b

In [ ]:
records_h_lt_3b = df[df['H'] < df['3B']]
print("\n-----------------------------------------")
print("All records with H < 3B")
print("-----------------------------------------")
records_h_lt_3b

In [ ]:
records_h_lt_hr = df[df['H'] < df['HR']]
print("\n-----------------------------------------")
print("All records with H < HR")
print("-----------------------------------------")
records_h_lt_hr

**SUCCESS!!** The previous data issues have been resolved. `'2B'`, `'3B'`, and `'HR'` are now validated.

**RBI - RBIs (Runs Batted In)**

This is an important statistic, especially for calculated batting statistics which may prove useful later.

RBIs should be an integer value, in the range of 0 and some upper value. The upper value is dependent on the number of runners on base at the time of the plate appearance, which we do not know directly from the data. We can estimate a maximum possible value of Plate Appearances * 4 (the maximum number of runs possible to bat in). This maximum value would be statistically possible but highly unlikely. But it means that if we see a value higher than 12 * 4 = 48 in a single game then it is definitely out of range.

In [ ]:
print(pd.unique(df['RBI']))

**Note:** Of course, we don't see anything nearly as extreme as 48, but we have multiple problems here: (1) RBI is stored as a Float value, which makes no sense in this context, and (2) we have a NaN/undefined value to deal with.

While it would be nice to convert to integer values, the presence of NaN values blocks our carrying out this operation. So, first, we have to make a decision about how to deal with the NaN values.

Let's look at how many records include these NaN values and how many unique players are impacted by this data issue.

In [ ]:
rbi_is_nan = df.loc[pd.isna(df['RBI'])]
rbi_is_nan

In [ ]:
print("\nUnique Players with this RBI-NaN problem:")
rbi_nan_players = pd.unique(rbi_is_nan['ID'])
print(rbi_nan_players)
print("Count: ",len(rbi_nan_players))

In [ ]:
print("\nPercentage of overall records (",len(df),") impacted: ", len(rbi_is_nan)/len(df)*100)
print("There are",len(rbi_nan_players),"players impacted by these",len(rbi_is_nan),"records.")

While the number of overall records impacted is less than 1%, we see that there are many more players than there are records with this problem, which means that it is safest to remove all records for these players -- not only the problematic ones. Since all of the impacted data records are from seasons early in the 20th century, this does not raise any great concerns for this project.

In [ ]:
# the removal
df = df[df['ID'].isin(rbi_nan_players) == False].copy()

# test
print("\nTest for an empty list of RBI==NaN values, after removing rows:\n\n", df.loc[pd.isna(df['RBI'])])
print("\n\nReduced to",len(df),"records in main data frame after removing those players records entirely.")

**Finally,** we can address our other issue: converting the type for RBI from float to integer.

In [ ]:
df['RBI'] = df['RBI'].astype(int)

# test
print(pd.unique(df['RBI']))

**SUCCESS!!** No NaN values and all Integer values. And all of these are reasonable values at a glance.

We should also confirm that RBI values are never greater than the number of Plate Appearances within individual records. (Note: There are many different scenarios for earning an RBI, but they all require a corresponding Plate Appearance.)

In [ ]:
records_pa4_lt_rbi = df[df['PA']*4 < (df['RBI']) ]
print("\n-----------------------------------------")
print("All records with PA*4 < RBI")
print("-----------------------------------------")
records_pa4_lt_rbi

**Note:** All RBI-related data issues have been resolved and our check within a record has passed. `'RBI'` is now validated.

**BB - Base On Balls (Walks)**

Walks should be an integer value, within the range of 0 up to the number of Plate Appearances.

In [ ]:
pd.unique(df['BB'])

**Note:** These are all reasonable values at a glance.

We should also confirm that Walk values are never greater than the number of Plate Appearances within individual records.

In [ ]:
records_pa_lt_bb = df[df['PA'] < (df['BB']) ]
print("\n-----------------------------------------")
print("All records with PA < BB")
print("-----------------------------------------")
records_pa_lt_bb

**HBP - Hit By Pitch**

Hit By Pitch should be an integer value, within the range of 0 up to the number of Plate Appearances.

Reference: https://en.wikipedia.org/wiki/Base_on_balls
HBP is **not** recorded as a walk/BB. ("A hit by pitch is not counted statistically as a walk, though the effect is mostly the same, with the batter receiving a free pass to first base.")

In [ ]:
pd.unique(df['HBP'])

**Note:** These are all reasonable values at a glance.

We should also confirm that HBP values are never greater than the number of Plate Appearances within individual records.

In [ ]:
records_pa_lt_hbp = df[df['PA'] < (df['HBP']) ]
print("\n-----------------------------------------")
print("All records with PA < HBP")
print("-----------------------------------------")
records_pa_lt_hbp

**SO - Strikeouts**

Strikeouts should be an integer value, within the range of 0 up to the number of Plate Appearances.

In [ ]:
print(pd.unique(df['SO']))

**Note:** These are all reasonable values at a glance.

We should also confirm that Strikeout values are never greater than the number of Plate Appearances or At Bats within individual records.

In [ ]:
records_pa_lt_so = df[df['PA'] < (df['SO']) ]
print("\n-----------------------------------------")
print("All records with PA < SO")
print("-----------------------------------------")
records_pa_lt_so

In [ ]:
records_ab_lt_so = df[df['AB'] < (df['SO']) ]
print("\n-----------------------------------------")
print("All records with AB < SO")
print("-----------------------------------------")
records_ab_lt_so

**Note:** We found one record (Owen Friend) with a strikeout but no at bats -- which doesn't make sense.

Let's address this record, directly by index:

In [ ]:
owen_friend = 1252967
df.loc[[owen_friend]]

Looking closer we can make a minor data adjustment for this record, and assume that there should be two At Bats instead of 0. In this game, the player stuck out once -- which means there was at least one At Bat.

Note: we also see a sacrifice hit (`'SH'`) listed. But, Sacrifice Hits and Flies (`'SF'`) do not count as times At Bat. They do, however, count as Plate Appearances.

These statistics demonstrate there must have been at least one At Bat. There was also one Walk (`'BB'`), which should mean there was at least three Plate Appearances, between the Sacrifice Hit, the Walk, and the Strikeout.

The most reasonable guess here is to set PA = 3 and AB = 1.

In [ ]:
df.at[owen_friend, 'PA'] = 3
df.at[owen_friend, 'AB'] = 1

df.loc[[owen_friend]]

Re-Testing:

In [ ]:
records_pa_lt_so = df[df['PA'] < (df['SO']) ]
print("\n-----------------------------------------")
print("All records with PA < SO")
print("-----------------------------------------")
records_pa_lt_so

In [ ]:
records_ab_lt_so = df[df['AB'] < (df['SO']) ]
print("\n-----------------------------------------")
print("All records with AB < SO")
print("-----------------------------------------")
records_ab_lt_so

**Note:** Re-testing was succesful and the issue with this record is resolved.

**SH - Sacrifice Hits**

Sacrifice Hits should be an integer value, within the range of 0 up to the number of Plate Appearances.

Note: Sacrifice plays do not count against the batter and, as such, don't count as At Bats.

References:
https://www.mlb.com/glossary/standard-stats/sacrifice-bunt
https://www.baseball-reference.com/bullpen/Sacrifice_hit

In [ ]:
pd.unique(df['SH'])

**Note:** These are all reasonable values at a glance.

We should also confirm that Sacrifce Hits values are never greater than the number of Plate Appearances within individual records.

In [ ]:
records_pa_lt_sh = df[df['PA'] < (df['SH']) ]
print("\n-----------------------------------------")
print("All records with PA < SH")
print("-----------------------------------------")
records_pa_lt_sh

**SF - Sacrifice Flies**

Sacrifice Flies should be an integer value, within the range of 0 up to the number of Plate Appearances.

Note: Sacrifice plays do not count against the batter and, as such, don't count as At Bats.

Reference:
https://www.mlb.com/glossary/standard-stats/sacrifice-fly

In [ ]:
pd.unique(df['SF'])

**Note:** We find that our Sacrifice Flies data is non-integer -- as with the RBI data processing, this is because there are NaN values present.

We will take the same approach for investigation, record removal, and conversion as with RBI.

In [ ]:
sf_is_nan = df.loc[pd.isna(df['SF'])]
sf_is_nan

In [ ]:
print("\nUnique Players with this SF-NaN problem:")
sf_nan_players = pd.unique(sf_is_nan['ID'])
print(sf_nan_players)
print("Count: ",len(sf_nan_players))

In [ ]:
print("\nPercentage of overall records (",len(df),") impacted: ", len(sf_is_nan)/len(df)*100)
print("There are",len(sf_nan_players),"players impacted by these",len(sf_is_nan),"records.")

We see here that a much larger percentage of our dataset is impacted (21%), so before removing all of these records and all of the player data associated, we need to consider the potential importance of the Sacrifice Flies feature for the project.

Removing the SF column itself is not an option if we want to calculate the OBP (On Base Percentage) statistic, which is required for calculating the OPS (On Base Plus Slugging) statistic.

Instead of NaN values, we will replace the NaN values with zeroes. It won't be accurate in all cases (since these haven't always been tracked), but the worst case will be that the affected records will underreport this statistic and consequently have a lower OBP percentage. But, it is the best we can do without completely removing the data.

In this processing, we'll also convert the field to an Integer type.

In [ ]:
series_of_sf = sf_is_nan.index
series_of_sf

df.loc[series_of_sf, 'SF'] = 0
df['SF'] = df['SF'].astype(int)
df

Let's check `SF` again:

In [ ]:
pd.unique(df['SF'])

Now that's looking better, let's do the customary check to see that there aren't more sacrifice flies (`SF`) than there are plate appearances `PA`.

In [ ]:
records_pa_lt_sf = df[df['PA'] < (df['SF']) ]
print("\n-----------------------------------------")
print("All records with PA < SF")
print("-----------------------------------------")
records_pa_lt_sf

### Advanced Statistics in the Original Data

There are three more modern, advanced statistics that were included in the original dataset: `WPA`, `RE24` and `aLI`. As we have worked through the data, it has been common to notice these fields have had NaN values for earlier records. Before how to proceed with these three statistics in our data, let's look more closely.

**WPA - Win Probability Added**

Reference:
https://en.wikipedia.org/wiki/Win_probability_added

In [ ]:
pd.unique(df['WPA'])

In [ ]:
wpa_is_nan = df.loc[pd.isna(df['WPA'])]
wpa_is_nan

In [ ]:
print("\nUnique Players with this SF-NaN problem:")
wpa_nan_players = pd.unique(wpa_is_nan['ID'])
print(wpa_nan_players)
print("Count: ",len(wpa_nan_players))

In [ ]:
print("\nPercentage of overall records (",len(df),") impacted: ", len(wpa_is_nan)/len(df)*100)
print("There are",len(wpa_nan_players),"players impacted by these",len(wpa_is_nan),"records.")

**RE24 - Base-Out Runs Added**

This statistic represents the run expectancy based on 24 base outs.

Reference:
https://thebaseballscholar.com/2017/08/14/sabermetrics-101-re24/

In [ ]:
pd.unique(df['RE24'])

In [ ]:
re24_is_nan = df.loc[pd.isna(df['RE24'])]
re24_is_nan

In [ ]:
print("\nUnique Players with this SF-NaN problem:")
re24_nan_players = pd.unique(re24_is_nan['ID'])
print(re24_nan_players)
print("Count: ",len(re24_nan_players))

In [ ]:
print("\nPercentage of overall records (",len(df),") impacted: ", len(re24_is_nan)/len(df)*100)
print("There are",len(re24_nan_players),"players impacted by these",len(re24_is_nan),"records.")

**aLI - Average Leverage Index**

Reference:
https://www.azsnakepit.com/2021/11/9/22742763/what-average-leverage-index-revealed-about-the-2021-diamondbacks

In [ ]:
pd.unique(df['aLI'])

In [ ]:
ali_is_nan = df.loc[pd.isna(df['aLI'])]
ali_is_nan

In [ ]:
print("\nUnique Players with this SF-NaN problem:")
ali_nan_players = pd.unique(ali_is_nan['ID'])
print(ali_nan_players)
print("Count: ",len(ali_nan_players))

In [ ]:
print("\nPercentage of overall records (",len(df),") impacted: ", len(ali_is_nan)/len(df)*100)
print("There are",len(ali_nan_players),"players impacted by these",len(ali_is_nan),"records.")

**Note:** An interesting phenomenon was seen with the WPA, RE24, and aLI statistics. They all seem to have been calculated in a similar range of time.

***A DECISION ... FOR WPA, RE24, and aLI STATISTICS***

After looking at all of this data, the nature of the statistics, and the goals of this project, the best decision is to remove these three features entirely. These three statistics are quite advanced to a point that is beyond the scope of this project.

So, we will remove these columns from the data frame.

In [ ]:
del df['WPA']
del df['RE24']
del df['aLI']

In [ ]:
df

Considering what remains, `'BOP'` (Batting Order Position) and the extracted `'Score'`, I do not foresee any use for either of these, so I will remove these columns as well.

At this time, I have decided to keep the `'Tm'` and `'Opp'` columns in the data for context but do not anticipate using it in any of the learning aspects of the project.

In [ ]:
del df['BOP']
del df['Score']

In [ ]:
df

**Result**

I am intentionally keeping `'Result'` at this time, so that I have options if I want to later look at how many winning games a player participated in, although there is a good chance this level of nuance will end up being outside of the scope of the project.

These values are extracted strings and should be one of 3 values: "W", "L", or "T". (Note that "T" represents a tied game, which is relatively unusual in baseball.)

In [ ]:
print(pd.unique(df['Result']))

### It's Time to Save The Core MLB Data to File

We've done all this work to clean and validate the data, and once we've got it right we don't need to do it again, unless we're making improvements. So, since there's still a lot of processing and manipulation to come based on this version of the data, this is the moment we will save it and then additional notebooks will move forward, starting with the MLB batting data in this format.

We will save it to the `data` folder in the project structure.

In [ ]:
import os

if not os.path.exists('./data'):
    os.makedirs('./data')

In [ ]:
core_mlb_dataset = "./data/core_mlb_dataset.csv"
df.to_csv(core_mlb_dataset, index=False)

# Getting the Supplemental Hall of Fame Data

One of my initial ideas to explore is mapping historical player data to inductees to the Hall of Fame and then using it to attempt predictions for Hall of Fame inductees, based on batting data alone.

This data was extracted from Baseball-Reference.com, which is also the original source of the Kaggle dataset chosen for this project. As a result, the Hall of Fame inductee list has the same IDs as the batting data, making it relatively easy to align the data.

The data file is stored in the project folder `supplemental_data` and was exported from https://www.baseball-reference.com/awards/hof.shtml into a file I named `hall_of_famers.csv`.

Reading in the file and displaying the file contents we find the following:

In [ ]:
hof_data = pd.read_csv('./supplemental_data/hall_of_famers.csv')
hof_data

On examination of the file, we see that there is some work to do to isolate the information we're interested in.

For instance, the `Name` column contains two pieces of information we are familiar with in the main dataset: `Player` and `ID`. So, we extract these fields into their own columns.

In [ ]:
hof_data[['Player','ID']] = hof_data['Name'].str.split('\\', expand=True)
hof_data

Next, we want to learn more about the contents of the `Inducted As` column.

In [ ]:
pd.unique(hof_data['Inducted As'])

We're only interested in players, so we'll want to filter that down.

First, let's simplify the dataframe by reducing it to the two columns of interest: `ID` and `Inducted As`. We are looking for a list of IDs only, because we know the names in the main table. We're also not concerned with details about when the player was active or inducted, or other details about how they were inducted.

In [ ]:
cols = ['ID', 'Inducted As']
hof_data = hof_data[cols].copy()
hof_data

Next, we'll filter down the list of inductees based on them being inducted as a player, which indicates they had a special measure of success as a player.

In [ ]:
hof_data = hof_data[hof_data['Inducted As'] == 'Player'].copy()
hof_data

Finally, we will remove the `Inducted As` column, but add a classifying category of `Inductee` and set all records in the dataframe as `1`, since all players on the list are in the Hall of Fame.

In [ ]:
del hof_data['Inducted As']
hof_data['Inductee'] = 1
hof_data

### It's Time to Save The Supplemental Hall of Fame Data to File

Just like we did with the core MLB batting data, let's do a quick save to file of the data in this format. We still have more to do with it when we want to merge it with some aspect of the core data, but this is an important state to capture it in for future experiments.

We will save it to the `data` folder in the project structure.

In [ ]:
import os

if not os.path.exists('./data'):
    os.makedirs('./data')
    
hof_dataset = "./data/hof_dataset.csv"
hof_data.to_csv(hof_dataset, index=False)

## Concluding Notebook Comments

**Note:** At this point, we will conclude this notebook for organizational purposes, as it is quite lengthy with all of the data validation work in particular.

Saving the data files in various states makes it easier to re-run parts of the overall project without having to re-run every aspect.

The **purpose of this notebook** is to extract the original and supplemental data from the original sources, investigate, organize, validate, and initially prepare the data for future use.

**The *next* notebook in the series is: `harr2890_project_step2_hof_data_prep`,** where the saved, data files will be loaded and data preparation will continue with the structuring and splitting up the data for the purposes of experimentation and modelling in a subsequent notebook dealing with the **Hall of Fame Approach**.

However, the `harr2890_project_step4_ops_data_prep` notebook also uses the data generated at this step. So, **if one is only running the OPS Approach**, steps 2 and 3 can be skipped after completing this step.